<h1 id="tableLabel">Cocktail List</h1>

<p>This component demonstrates fetching data from the server.</p>

<!-- <p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table> -->



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cocktails">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cocktail of cocktails">
      <td>{{ cocktail.id }}</td>
      <td>{{ cocktail.name }}</td>
      <td><img class="images" src={{cocktail.url}}  width="20%" height="20%"/></td>
    </tr>
  </tbody>
</table>
